html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #000000;
}

* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.file-name-holder {
    padding: 0;
    margin: 0;
    display: inline;
    margin-left: 5px;
}

.file-name-holder:hover {
    background-color: #222222;
    color: #00ff00;
    cursor: pointer;
}

.children_container {
    margin-left: 21px;
}
