html,
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #000000;
}

* {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.file-name-holder {
    padding: 0;
    margin: 0;
    display: inline;
    margin-left: 5px;
}

.filetype_regular_file * {
    color: #00ff00;
}

.file-name-holder:hover {
    background-color: #222222;
    color: #00ff00;
    cursor: pointer;
}

.children_container {
    margin-left: 21px;
}

#root_container {
    display: grid;
    grid-template-areas: "pathlist image_panel";
}

#pathlist {
    height: 100vh;
    overflow-y: scroll;
    grid-area: pathlist;
}

#image_panel {
    height: 100vh;
    overflow-y: scroll;
    grid-area: image_panel;
}

#image_rendering_configuration {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(11, 11, 11, 0.9);
}

#image_rendering_configuration:hover {
    cursor: move;
}
